#JWT 
JWT_SECRET='asdjaskdjsalkdlkasdjlaskdjlasdj'

#2FA AUTH
TOTP_SECRET_KEY='12345678901234567890123456789012' #has to be 32 char for AES-256 

#oauth2 github
GITHUB_CLIENT_ID='asasdasdas'
GITHUB_CLIENT_SECRET='shhhhhhhhhhhhht secret'

#cmd pour recup l'ip echo $(hostname -I | awk '{print $1}')
IP="votre ipV"

#l'emplacement du poste peut aussi servir d'IP il faut l'autoriser dans les CORS
#cmd  hostname pour l'avoir exemple de format : f2r4s7; 
POSTE="f2r4s7"
