
JWT_SECRET='asdjaskdjsalkdlkasdjlaskdjlasdj'
TOTP_SECRET_KEY='ajdashdkashdkajshdkjashdkajsd'

#oauth2 github
GITHUB_CLIENT_ID='asasdasdas'
GITHUB_CLIENT_SECRET='shhhhhhhhhhhhht secret'

#cmd pour recup l'ip echo $(hostname -I | awk '{print $1}')
IP="votre ipV"
