#JWT 
JWT_SECRET=''

#2FA AUTH
TOTP_SECRET_KEY='' #has to be 32 char for AES-256 

#oauth2 github
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

#cmd pour recup l'ip echo $(hostname -I | awk '{print $1}')
IP=""

#grafana config

GF_SECURITY_ADMIN_USER = ''
GF_SECURITY_ADMIN_PASSWORD = ''
GF_USERS_DEFAULT_THEME = ''
DISCORD_WEBHOOK_URL=""

#l'emplacement du poste peut aussi servir d'IP il faut l'autoriser dans les CORS
#cmd  hostname pour l'avoir exemple de format : f2r4s7; 
POSTE=""
